### Case Study # 3 Part 1
## Foodie-Fi

source : <a href='https://8weeksqlchallenge.com/case-study-3/'> 8 Week SQL challenges </a>

<img src = 'images/foodie.png' style='width:450px'>

<a id='top'></a>

### Table of Contents :
* [Introduction](#introduction)
* [Datasets](#dataset)
* [Entity Relation Diagram](#diagram)
* [Case Questions](#question)
    1. <a href='https://sumedhadewan.github.io/case_study_3_2'>Customer Journey</a>
    2. <a href='https://sumedhadewan.github.io/case_study_3_2#analysis'>Data analysis questions</a>

<a id = 'introduction'></a>
### Introduction

Subscription based businesses are super popular and Danny realised that there was a large gap in the market - he wanted to create a new streaming service that only had food related content - something like Netflix but with only cooking shows!

Danny finds a few smart friends to launch his new startup Foodie-Fi in 2020 and started selling monthly and annual subscriptions, giving their customers unlimited on-demand access to exclusive food videos from around the world!

Danny created Foodie-Fi with a data driven mindset and wanted to ensure all future investment decisions and new features were decided using data. This case study focuses on using subscription style digital data to answer important business questions.

#### Loading sql extension and connecting to `foodie` database with postgresql

In [1]:
%load_ext sql

In [2]:
%sql postgresql://postgres:dewan@localhost/foodie

#### Checking tables inside foodie database

In [8]:
%%sql
SELECT *
FROM information_schema.tables
WHERE table_schema = 'public'

 * postgresql://postgres:***@localhost/foodie
2 rows affected.

[('foodie', 'public', 'plans', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('foodie', 'public', 'subscriptions', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)]

<a id = 'dataset'></a>
### Datasets

There are two tables

1. `plans`

Customers can choose which plans to join Foodie-Fi when they first sign up.

 * Basic plan : customers have limited access and can only stream their videos and is only available monthly at $9.90

 * Pro plan : customers have no watch time limits and are able to download videos for offline viewing. Pro plans start at $19.90 a month or $199 for an annual subscription.

 * Trial : Customers can sign up to an initial 7 day free trial will automatically continue with the pro monthly subscription plan unless they cancel, downgrade to basic or upgrade to an annual pro plan at any point during the trial.

 * cancel Foodie-Fi service - customer will have a churn plan record with a null price but their plan will continue until the end of the billing period.

2. `subscriptions`

 * Customer subscriptions show the exact date where their specific plan_id starts.

 * If customers **downgrade** from a pro plan or **cancel** their subscription - the higher plan will remain in place until the period is over - the start_date in the subscriptions table will reflect the date that the actual plan changes.

 * When customers **upgrade** their account from a basic plan to a pro or annual pro plan - the higher plan will take effect straightaway.

 * When customers **churn** - they will keep their access until the end of their current billing period but the start_date will be technically the day they decided to cancel their service

In [9]:
%%sql
SELECT *
FROM plans

 * postgresql://postgres:***@localhost/foodie
5 rows affected.

[(0, 'trial', Decimal('0.00')),
 (1, 'basic monthly', Decimal('9.90')),
 (2, 'pro monthly', Decimal('19.90')),
 (3, 'pro annual', Decimal('199.00')),
 (4, 'churn', None)]

In [10]:
%%sql
SELECT *
FROM subscriptions
LIMIT 5;

 * postgresql://postgres:***@localhost/foodie
5 rows affected.

[(1, 0, datetime.date(2020, 8, 1)),
 (1, 1, datetime.date(2020, 8, 8)),
 (2, 0, datetime.date(2020, 9, 20)),
 (2, 3, datetime.date(2020, 9, 27)),
 (3, 0, datetime.date(2020, 1, 13))]

#### Checking Datatypes for both tables

In [11]:
%%sql
SELECT column_name,data_type
FROM information_schema.columns
WHERE table_schema = 'public'  AND table_name = 'plans'

 * postgresql://postgres:***@localhost/foodie
3 rows affected.

[('plan_id', 'integer'),
 ('plan_name', 'character varying'),
 ('price', 'numeric')]

In [13]:
%%sql
SELECT column_name,data_type
FROM information_schema.columns
WHERE table_schema = 'public'  AND table_name = 'subscriptions'

 * postgresql://postgres:***@localhost/foodie
3 rows affected.

[('customer_id', 'integer'), ('plan_id', 'integer'), ('start_date', 'date')]

<a id='diagram'></a>
### Entity Relationship Diagram

<img src ='images/erd3.png'>

<a id='question'></a>
### Case Study questions

This case study is split into an initial data understanding question before diving straight into data analysis questions before finishing with 1 single extension challenge.

1. <a href='https://sumedhadewan.github.io/case_study_3_2'>Customer Journey</a>
2. <a href='https://sumedhadewan.github.io/case_study_3_2#analysis'>Data analysis questions</a>

#### Back to : [Top](#top) ▲

<a href='https://github.com/sumedhadewan/8-week-sql-challenge' target='_blank'>See this Project on Github</a>