### Case Study # 3 Part 2
## Foodie-Fi

source : <a href='https://8weeksqlchallenge.com/case-study-3/'> 8 Week SQL challenges </a>

<a id='top'></a>

### <font color='green' >A. Customer Journey</font>

Based off the 5 sample customers provided in the sample from the `subscriptions` table, write a brief description about each customer’s onboarding journey.

In [1]:
%load_ext sql

In [2]:
%sql postgresql://postgres:dewan@localhost/foodie

There are 1000 Distinct customer_id in `subscription`

In [4]:
%%sql
SELECT COUNT(DISTINCT customer_id)
FROM subscriptions

 * postgresql://postgres:***@localhost/foodie
1 rows affected.

[(1000,)]

#### Generating random customer id

In [7]:
import random
rand_list = []
random.sample(range(1,1000),5)

[459, 565, 697, 143, 637]

#### Customer id  459

- First started 7 days free trial on 7th Dec 2020
- automatically continued with pro monthly plan after 7 days free trial ends
- 3 months later upgraded to pro annual plan

In [12]:
%%sql
SELECT *
FROM subscriptions
JOIN plans USING (plan_id)
WHERE customer_id = 459
ORDER BY start_date

 * postgresql://postgres:***@localhost/foodie
3 rows affected.

[(0, 459, datetime.date(2020, 12, 7), 'trial', Decimal('0.00')),
 (2, 459, datetime.date(2020, 12, 14), 'pro monthly', Decimal('19.90')),
 (3, 459, datetime.date(2021, 3, 14), 'pro annual', Decimal('199.00'))]

#### Customer Id 565

- First started 7 days free trial on 2nd Jan 2020
- automatically continued with pro monthly plan after 7 days free trial ends

In [13]:
%%sql
SELECT *
FROM subscriptions
JOIN plans USING (plan_id)
WHERE customer_id = 565
ORDER BY start_date

 * postgresql://postgres:***@localhost/foodie
2 rows affected.

[(0, 565, datetime.date(2020, 1, 2), 'trial', Decimal('0.00')),
 (2, 565, datetime.date(2020, 1, 9), 'pro monthly', Decimal('19.90'))]

#### Customer Id 697

- First started 7 days free trial on 23 Jan 2020
- downgraded to basic monthly plan after trial ended.

In [14]:
%%sql
SELECT *
FROM subscriptions
JOIN plans USING (plan_id)
WHERE customer_id = 697
ORDER BY start_date

 * postgresql://postgres:***@localhost/foodie
2 rows affected.

[(0, 697, datetime.date(2020, 1, 23), 'trial', Decimal('0.00')),
 (1, 697, datetime.date(2020, 1, 30), 'basic monthly', Decimal('9.90'))]

#### Customer Id 697

- First started 7 days free trial on 20 Dec 2020
- downgraded to basic monthly plan after trial ended.
- cancelled Foodie-Fi service in less than 3 months.

In [15]:
%%sql
SELECT *
FROM subscriptions
JOIN plans USING (plan_id)
WHERE customer_id = 143
ORDER BY start_date

 * postgresql://postgres:***@localhost/foodie
3 rows affected.

[(0, 143, datetime.date(2020, 12, 20), 'trial', Decimal('0.00')),
 (1, 143, datetime.date(2020, 12, 27), 'basic monthly', Decimal('9.90')),
 (4, 143, datetime.date(2021, 3, 3), 'churn', None)]

#### Customer Id 637

- First started 7 days free trial on 20 sept 2020
- downgraded to basic monthly plan after trial ended.

In [16]:
%%sql
SELECT *
FROM subscriptions
JOIN plans USING (plan_id)
WHERE customer_id = 637
ORDER BY start_date

 * postgresql://postgres:***@localhost/foodie
2 rows affected.

[(0, 637, datetime.date(2020, 9, 20), 'trial', Decimal('0.00')),
 (1, 637, datetime.date(2020, 9, 27), 'basic monthly', Decimal('9.90'))]

<a id="analysis"></a>
### <font color='green' > B. Data Analysis Questions </font>

### How many customers has Foodie-Fi ever had?

In [18]:
%%sql
SELECT COUNT(DISTINCT customer_id) AS unique_customer_id
FROM subscriptions

 * postgresql://postgres:***@localhost/foodie
1 rows affected.

[(1000,)]

### What is the monthly distribution of trial plan start_date values for our dataset - use the start of the month as the group by value

In [22]:
%%sql

SELECT 
    EXTRACT(MONTH FROM start_date) AS month ,
    COUNT(start_date) AS count_started
FROM subscriptions
WHERE plan_id = 0
GROUP BY 1
ORDER BY 2 DESC

 * postgresql://postgres:***@localhost/foodie
12 rows affected.

[(Decimal('3'), 94),
 (Decimal('7'), 89),
 (Decimal('5'), 88),
 (Decimal('1'), 88),
 (Decimal('8'), 88),
 (Decimal('9'), 87),
 (Decimal('12'), 84),
 (Decimal('4'), 81),
 (Decimal('6'), 79),
 (Decimal('10'), 79),
 (Decimal('11'), 75),
 (Decimal('2'), 68)]

### 3. What plan start_date values occur after the year 2020 for our dataset? Show the breakdown by count of events for each plan_name

In [31]:
%%sql
SELECT 
    plan_id,
    plan_name,
    COUNT(start_date) AS count_of_events
FROM subscriptions
JOIN plans USING(plan_id)
WHERE EXTRACT(YEAR FROM start_date) > 2020
GROUP BY 1,2
ORDER BY 3 DESC

 * postgresql://postgres:***@localhost/foodie
4 rows affected.

[(4, 'churn', 71),
 (3, 'pro annual', 63),
 (2, 'pro monthly', 60),
 (1, 'basic monthly', 8)]

### 4. What is the customer count and percentage of customers who have churned rounded to 1 decimal place?

In [44]:
%%sql
SELECT 
    COUNT(DISTINCT customer_id) AS churned_customers,
    ROUND(COUNT(DISTINCT customer_id)*1.0/(
        SELECT COUNT(DISTINCT customer_id)
        FROM subscriptions
    )*100,2) AS churn_perc
FROM subscriptions
WHERE plan_id = 4

 * postgresql://postgres:***@localhost/foodie
1 rows affected.

[(307, Decimal('30.70'))]

### 5.  How many customers have churned straight after their initial free trial - what percentage is this rounded to the nearest whole number?

In [72]:
%%sql
CREATE TEMP TABLE next_plan_table AS

SELECT 
    customer_id,
    plan_id,
    start_date,
    LEAD(plan_id,1) OVER(PARTITION BY customer_id ORDER BY start_date) AS next_plan
FROM subscriptions
ORDER BY customer_id

 * postgresql://postgres:***@localhost/foodie
2650 rows affected.

[]

In [76]:
%%sql
WITH churned_list AS(
    SELECT *
    FROM next_plan_table
    WHERE plan_id = 0 AND next_plan = 4
)

SELECT
    COUNT(DISTINCT customer_id) AS churned_after_trial,
    ROUND(COUNT(DISTINCT customer_id) * 100.0/ (
        SELECT COUNT(DISTINCT customer_id)
        FROM subscriptions
    ),2) AS churned_perc_after_trial
FROM churned_list

 * postgresql://postgres:***@localhost/foodie
1 rows affected.

[(92, Decimal('9.20'))]

### 6. What is the number and percentage of customer plans after their initial free trial?

In [77]:
%%sql
SELECT *
FROM next_plan_table
LIMIT 5

 * postgresql://postgres:***@localhost/foodie
5 rows affected.

[(1, 0, datetime.date(2020, 8, 1), 1),
 (1, 1, datetime.date(2020, 8, 8), None),
 (2, 0, datetime.date(2020, 9, 20), 3),
 (2, 3, datetime.date(2020, 9, 27), None),
 (3, 0, datetime.date(2020, 1, 13), 1)]

In [86]:
%%sql
SELECT 
    next_plan,
    (
        SELECT plan_name
        FROM plans
        WHERE plans.plan_id = next_plan_table.next_plan
    ) AS next_plan_name,
    COUNT(DISTINCT customer_id) AS count_customer_after_trial,
    ROUND(COUNT(DISTINCT customer_id) * 100.0/ (
        SELECT COUNT(DISTINCT customer_id)
        FROM subscriptions
    ),2) AS perc_customer_after_trial
FROM next_plan_table
WHERE plan_id = 0 AND next_plan IS NOT NULL
GROUP BY 1,2

 * postgresql://postgres:***@localhost/foodie
4 rows affected.

[(1, 'basic monthly', 546, Decimal('54.60')),
 (2, 'pro monthly', 325, Decimal('32.50')),
 (3, 'pro annual', 37, Decimal('3.70')),
 (4, 'churn', 92, Decimal('9.20'))]

### 7.  What is the customer count and percentage breakdown of all 5 plan_name values at 2020-12-31?

In [109]:
%%sql
WITH temp AS(
    SELECT *,
        row_number() OVER(PARTITION BY customer_id ORDER BY start_date DESC) As latest_plan 
    FROM subscriptions
    WHERE start_date <= '2020-12-31'
)
SELECT
    plan_id,
    plan_name,
    COUNT(DISTINCT customer_id) AS customer_count,
    ROUND(COUNT(DISTINCT customer_id)*100.0/(
        SELECT COUNT(DISTINCT customer_id)
        FROM subscriptions
    ),2) AS perc_breakdown
    
FROM temp
JOIN plans USING(plan_id)
WHERE latest_plan = 1
GROUP BY 1,2
ORDER BY 4 DESC

 * postgresql://postgres:***@localhost/foodie
5 rows affected.

[(2, 'pro monthly', 326, Decimal('32.60')),
 (4, 'churn', 236, Decimal('23.60')),
 (1, 'basic monthly', 224, Decimal('22.40')),
 (3, 'pro annual', 195, Decimal('19.50')),
 (0, 'trial', 19, Decimal('1.90'))]

### 8. How many customers have upgraded to an annual plan in 2020?

In [113]:
%%sql
SELECT COUNT(customer_id)
FROM  subscriptions
WHERE plan_id = 3 AND EXTRACT(YEAR FROM start_date) = '2020'

 * postgresql://postgres:***@localhost/foodie
1 rows affected.

[(195,)]

### 9. How many days on average does it take for a customer to an annual plan from the day they join Foodie-Fi?

In [134]:
%%sql
DROP TABLE IF EXISTS upgrade_table; 
CREATE TEMP TABLE upgrade_table AS
SELECT 
    *,
    LAST_VALUE(start_date) OVER(PARTITION BY customer_id) AS lastest_date,
    LAST_VALUE(plan_id) OVER(PARTITION BY customer_id) AS latest_plan
FROM subscriptions

 * postgresql://postgres:***@localhost/foodie
Done.
2650 rows affected.

[]

In [135]:
%%sql

SELECT
    ROUND(AVG(diff)) AS avg_day_to_upgrade
FROM
(
    SELECT *,
        lastest_date - start_date AS diff
    FROM upgrade_table
    WHERE plan_id = 0 AND latest_plan = 3
) AS sub

 * postgresql://postgres:***@localhost/foodie
1 rows affected.

[(Decimal('106'),)]

### 10. Can you further breakdown this average value into 30 day periods (i.e. 0-30 days, 31-60 days etc)

In [137]:
%%sql
WITH temp_diff_table AS(
SELECT *,
    lastest_date - start_date AS diff
FROM upgrade_table
WHERE plan_id = 0 AND latest_plan = 3
)
SELECT
    min(diff),
    max(diff)
FROM temp_diff_table

 * postgresql://postgres:***@localhost/foodie
1 rows affected.

[(7, 346)]

In [156]:
%%sql
WITH temp_diff_table AS(
SELECT *,
    lastest_date - start_date AS diff
FROM upgrade_table
WHERE plan_id = 0 AND latest_plan = 3
),
bins AS(
    SELECT 
        generate_series(0,330,30) AS lower,
        generate_series(30,360,30) AS upper
)
SELECT 
    lower AS lower_limit_days,
    upper AS upper_limit_days,
    count(customer_id)
FROM bins
LEFT JOIN temp_diff_table
ON diff> lower and diff <= upper
GROUP BY 1,2
ORDER BY 1

 * postgresql://postgres:***@localhost/foodie
12 rows affected.

[(0, 30, 47),
 (30, 60, 22),
 (60, 90, 33),
 (90, 120, 34),
 (120, 150, 42),
 (150, 180, 36),
 (180, 210, 26),
 (210, 240, 4),
 (240, 270, 5),
 (270, 300, 1),
 (300, 330, 1),
 (330, 360, 1)]

In [144]:
%%sql
SELECT *
FROM generate_series(0,30,10)

 * postgresql://postgres:***@localhost/foodie
4 rows affected.

[(0,), (10,), (20,), (30,)]

### 11. How many customers downgraded from a pro monthly to a basic monthly plan in 2020?

In [165]:
%%sql
SELECT COUNT(customer_id) AS downgraded
FROM next_plan_table
WHERE plan_id = 2 AND next_plan = 1 AND EXTRACT(YEAR FROM start_date) = 2020

 * postgresql://postgres:***@localhost/foodie
1 rows affected.

[(0,)]

#### Prev :  <a href='https://sumedhadewan.github.io/case_study_3_1'> Foodie-Fi PART 1 </a>

#### Back to : [Top](#top) ▲

<a href='https://github.com/sumedhadewan/8-week-sql-challenge' target='_blank'>See this Project on Github</a>